//================================HEADER===========================//
.main-header{
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: thin solid $color-gris-light;
  text-align: center;
  margin-bottom: 1.5em;
  width: 100%;
  @include media-query($on-small-laptop){
    //800px
    margin-bottom: 2em;
  }
  @include media-query($on-small-laptop){
    //480px
   
  }
}
.main-header.home{
  height: auto;
  position: relative;
}
.main-header.post-head{
  min-height: 70vh;
}
.main-header.autor-head, .main-header.tag-head{
  min-height: 40vh;
}
.main-header.suscribete-head{
    height: auto;
}
//==================================NO COVER========================================//
/*
.main-header.post-head.no-cover{
  border-bottom: 0;
  min-height: 70px;
  @include media-query($on-laptop){
  //900px
    min-height: 65px;
  }
 
}
*/
//================================RELLENOS CONTENEDORES ============================//
//====CLASE PRINCIPAL -> BG=======//
.main{
  padding: 0 0 1em 0;
}
//=======================CONTENEDORES============================//
.contenedor, .contenedor___post, .interior, .autor-interior{
  @include center;
  padding-right: $espacio-inicial;
  padding-left: $espacio-inicial;
  @include media-query($on-laptop) {
    padding-right: $espacio-inicial / 2;
    padding-left: $espacio-inicial / 2;
  }
  @include media-query($on-tablet){//600px
    width: 100%;
  }
}
//Menu & Footer
.contenedor{
  max-width: 1000px;
  @include media-query($on-laptop) {
    max-width: 100%;
  }
}

.contenedor___post, .interior{
  max-width: $tema-contenedor-width;
  width: 100%;
  @include media-query($content-block){
    max-width: $tema-contenedor-width-small;
    width: 80%;
  }
}

//Autor
.autor-interior{
  max-width: 710px;
  @include media-query($content-block){
    width: 80%;
  }
  
}

//================================OCULTAR ELEMENTOS=======================//
.oculto{
  display: none !important;
}

//=================================BOTONES================================//
.btn{
  border-radius: 3px;
  border: thin solid transparent;
  display: inline-block;
  cursor:pointer;
  color: $color-blanco;
  font-family: $font-family;
  font-weight: 400;
  font-size: 0.7em;
  line-height: normal;
  padding:10px 13px;
  text-decoration:none;
  text-transform: uppercase;
  width: auto;
  &:focus{
    outline: none;
  }
}

.btn.btn-green{
  background: lighten($color-tema, 8%);
  border: thin solid $color-tema;
  &:hover{
    background: lighten($color-tema, 7%);
    border-bottom:thin solid darken($color-tema, 3%);
  }
}

//============================COLOR ICONOS==============================//
.icon-clock{
  color: $color-calendario;
}
//============================FLEXBOX===================================//
//===============FLEX=================//
[class*="flex"]{
  display: flex;
}

//===========================================//
//==============JUSTIFY-CONTENT=============//
//==========================================//

//=============FLEX-START============//
[class*="jcfs"]{
  justify-content: flex-start;
}
//=============FLEX-END============//
[class*="jcfe"]{
  justify-content: flex-end;
}
//=============CENTER============//
[class*="jcc"]{
  justify-content: center;
}
//=============SPACE-BETWEEN============//
[class*="jcsb"]{
  justify-content: space-between;
}
//=============SPACE-AROUND============//
[class*="jcsa"]{
  justify-content: space-around;
}
//=============COLUMN==================//
[class*="fdc"]{
  flex-direction: column;
}
//================CENTER================//
[class*="aicenter"]{
  align-items: center;
}
//================WRAP================//
[class*="wrap"]{
  flex-wrap: wrap;
}

//=============TAGS=====================//
a[class*="tag"]{
  display: inline-block;
  background: $tag-btn-bg;
  border-radius: 15px;
  color: $color-blanco;
  font-size: 80%;
  line-height: normal;
  margin-left: 0.3em;
  margin-bottom: 0.5em;
  padding: 0.3em 0.5em;
  text-decoration: none;
  @include media-query($on-tablet){
  //700px
    
  }
  &:hover{
    background: $tag-btn-bg-hover;
  }
}

//=============NO LISTAS================//
.no-lista{
  list-style-type: none !important;
  padding-left: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
}
//===========FOOTER IMAGE===============//
.img-footer{
  display: block;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-top: -1.6em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
//=====================PUBLICIDAD INTERNA============================//
.adsbygoogle{
  margin-bottom: 1.5em;
}